@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
}

#description a {
    @apply text-red-500;
    @apply font-bold;
    @apply hover:text-red-700;
    @apply hover:underline;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
    text-decoration: none;
}
